body{
    background-image:url(img/fondo.jpg);
    text-align: center;
    width: 600px;
    height: 1000px;
    margin-left: 350px;
}
#titulo{
    width: 590px;
    font-family:cursive
}

#uno{
    border: 1px solid ;
    width: 600px;
    margin-bottom: 20px;
}

#dos{
    border: 1px solid;
    width: 600px;
}

#pie{
    width: 590px;
    margin-top: 50px;
    border: 1px solid;
    background-color: whitesmoke;
    padding: 5px;
}